.listForm {
  margin: auto;
  width: 100%;
  padding: 30px 0 10px 0;
  margin-top: 50px;
}

.itemList {
  margin: 30px auto;
  width: 100%;
  text-align: center;
  justify-content: center;
  padding: 30px 0 10px 0;
  min-height: 200px;
}

@media only screen and (min-width: 600px) {
  .listForm {
    width: 480px;
  }

  .itemList {
    width: 480px;
  }
}
